.portfolio {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: var(--primaryWhite);
  margin: 0;
  padding: 0;
}

.portfolioImg, .portfolioImgLeft {
  composes: transitionImg from './imgTransition.css';
  max-width: 100%;
  height: auto;
  display: block;
  box-shadow: 0 13px 25px 0 rgba(0, 0, 0, 0.3), 0 11px 7px 0 rgba(0, 0, 0, 0.19);
}

.descriptionContainer, .descriptionContainerRight {
  display: block;
  zoom: 1;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto;
}

.listTitle {
  color: var(--darkGrey);
  font-family: 'Ubuntu', sans-serif;
}

.list li {
  color: var(--grey);
  font-family: 'Ubuntu', sans-serif;;
}

.portfolioTitles {
  font-family: var(--bodyFont);
  color: var(--darkGrey);
}

.techUsedTitle {
  font-family: var(--bodyFont);
  color: var(--darkGrey);
}

.techUsed {
  font-weight: normal;
  color: var(--grey);
}

.projectDesc {
  color: var(--grey);
  font-family: 'Ubuntu', sans-serif;
}

.ref {
  text-decoration: none;
  color: var(--primary);
}

.ref:hover {
  text-decoration: underline;
}

/***** Positioning *****/

.techUsed, .projectDesc, .list li {
  font-size: 1.1em;
}

.projectDesc, .list li {
  line-height: 1.8;
}

.portfolioTitles, .techUsedTitle {
  font-size: 1.5em;
}

.imgContainer, .imgContainerRight {
  width: 50%;
  margin: 10% auto;
}

.descriptionContainer, .descriptionContainerRight {
  width: 37.5%;
  margin: 2% auto;
}

.desc {
  padding: 2em;
}

.projectDesc {
  margin: 1em 0 0em;
}

.techUsedTitle {
  margin: 2em 0 1em;
}

.portfolioTitles {
  margin: 2em 0 1em;
}

.list li {
  margin: 0 0 1em;
}

.listTitle {
  font-weight: 500;
  font-size: 2.5em;
  margin: 1em 0 1.5em;
}

/***** Queries *****/

@media screen and (max-width: 92.5em) {
  .techUsed, .projectDesc, .list li {
    font-size: 0.9em;
  }

  .projectDesc, .list li {
    line-height: 1.8;
  }

  .portfolioTitles, .techUsedTitle {
    font-size: 1.2em;
  }

  .imgContainer, .imgContainerRight {
    margin: 11% auto 10%;
  }

  .descriptionContainer, .descriptionContainerRight {
    margin: 2% auto 1%;
  }

  .desc {
    padding: 1em;
  }

  .projectDesc {
    margin: 0.5em 0 0em;
  }

  .techUsedTitle {
    margin: 1em 0 0.5em;
  }

  .portfolioTitles {
    margin: 1em 0 0.5em;
  }

  .list li {
    margin: 0 0 0.5em;
  }

  .listTitle {
    font-weight: 500;
    font-size: 2.2em;
    margin: 0.8em 0;
  }
}

@media screen and (max-width: 72em) {
  .techUsed, .projectDesc, .list li {
    font-size: 0.8em;
  }

  .projectDesc, .list li {
    line-height: 1.6;
  }

  .portfolioTitles, .techUsedTitle {
    font-size: 1em;
  }

  .imgContainer, .imgContainerRight {
    margin: 14% auto 11%;
  }

  .descriptionContainer, .descriptionContainerRight {
    margin: 5% auto 1%;
  }

  .desc {
    padding: 1em;
  }

  .projectDesc {
    margin: 0.5em 0 0em;
  }

  .techUsedTitle {
    margin: 1em 0 0.5em;
  }

  .portfolioTitles {
    margin: 1em 0 0.5em;
  }

  .list li {
    margin: 0 0 0.5em;
  }

  .listTitle {
    font-weight: 500;
    font-size: 1.9em;
    margin: 0.8em 0;
  }
}

@media screen and (max-width: 52em) {
  .portfolio {
    flex-direction: column;
  }

  .techUsed, .projectDesc, .list li {
    font-size: 0.8em;
  }

  .projectDesc, .list li {
    line-height: 1.6;
  }

  .portfolioTitles, .techUsedTitle {
    font-size: 1em;
  }

  .imgContainer, .imgContainerRight {
    width: 90%;
    margin: 1em auto;
  }

  .descriptionContainer, .descriptionContainerRight {
    width: 90%;
    margin: 1em auto;
  }

  .desc {
    padding: 0;
  }

  .projectDesc {
    display: none;
  }

  .techUsedTitle {
    margin: 1em 0 0.5em;
  }

  .portfolioTitles {
    margin: 1em 0 0.5em;
  }

  .list li {
    margin: 0 0 0.5em;
  }

  .listTitle {
    font-weight: 500;
    font-size: 1.9em;
    margin: 0.8em 0;
  }
}

@media screen and (max-width: 41.6) {
  .portfolio {
    flex-direction: column;
  }

  .techUsed, .projectDesc, .list li {
    font-size: 0.8em;
  }

  .projectDesc, .list li {
    line-height: 1.6;
  }

  .portfolioTitles, .techUsedTitle {
    font-size: 1em;
  }

  .imgContainer, .imgContainerRight {
    width: 90%;
    margin: 1em auto;
  }

  .descriptionContainer, .descriptionContainerRight {
    width: 90%;
    margin: 1em auto;
  }

  .desc {
    padding: 0;
  }

  .projectDesc {
    display: none;
  }

  .techUsedTitle {
    margin: 1em 0 0.5em;
  }

  .portfolioTitles {
    margin: 1em 0 0.5em;
  }

  .list li {
    margin: 0 0 0.5em;
  }

  .listTitle {
    font-weight: 500;
    font-size: 1.9em;
    margin: 0.8em 0;
  }
}
