#portfolio {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0 0 0 0;
  box-sizing: border-box;
  background-color: '#FFF';
}

.portfolioImg {
  composes: transitionImg from './imgTransition.css';
  max-width: 80%;
  box-shadow: 0 13px 25px 0 rgba(0, 0, 0, 0.3), 0 11px 7px 0 rgba(0, 0, 0, 0.19);
}

.imgContainer {
  composes: container from 'sharedStyles/styles.css';
  flex-grow: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 60%;
}

.descriptionContainer {
  composes: container from 'sharedStyles/styles.css';
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  max-width: 40%;
  /*padding: 2em;
  margin: 1em 0;*/
}

.list {
  width: 65%;
}

.listTitle {
  color: #777;
  font-family: 'Ubuntu', sans-serif;;
  font-weight: 500;
  font-size: 2em;
}

.list li {
  color: #333;
  font-family: 'Ubuntu' sans-serif;;
  padding: 1em 0;
  font-size: 1.1em;
  line-height: 1.8;
}
