<header>
  <a href="#portfolio" id="logo">
    <h1>Mark Harper</h1>
    <h2>Developer</h2>
  </a>
  <nav>
    <ul>
      <li><a href="#portfolio" class="selected">Portfolio</a></li>
      <li><a href="#about">About</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </nav>
</header>
<div id="wrapper">
  <section>
    <ul id="gallery">
      <li>
        <a href="http://markharper.io/smashingboxes/">
          <img src="img/screenshots/Smashing Academy.clipular.png" alt="">
          <p>Smashing Boxes Rebuild</p>
        </a>
      </li>
      <li>
        <a href="http://markharper.io/memory-game/">
          <img src="img/screenshots/memory-game.clipular.png" alt="">
          <p>Memory Game</p>
        </a>
      </li>
      <li>
        <a href="http://markharper.io/user-management/">
          <img src="img/screenshots/User-Management.clipular.png" alt="">
          <p>User Sign In App</p>
        </a>
      </li>
      <li>
        <a href="http://markharper.io/appointments-app/">
          <img src="img/screenshots/Appointments.clipular.png" alt="">
          <p>Appointment Manager</p>
        </a>
      </li>
      <li>
        <a href="https://salty-ridge-9318.herokuapp.com/">
          <img src="img/screenshots/Opossum.clipular.png" id="survey-app" alt="">
          <p>Survey Manager</p>
        </a>
      </li>
      <li>
        <a href="http://www.builditgreen.io">
          <img src="img/screenshots/B I G.clipular.png" alt="">
          <p>Build It Green</p>
        </a>
      </li>
    </ul>
  </section>
  <footer>
    <a href="http://twitter.com/IAmMarkHarper"><svg class="icon-twitter-square social-icon"><use xlink:href="#icon-twitter-square"></use></svg></a>
    <a href="https://github.com/MarkHarper"><svg class="icon-github-square social-icon"><use xlink:href="#icon-github-square"></use></svg></a>
    <a href="https://www.linkedin.com/pub/mark-harper/74/631/67"><svg class="icon-linkedin-square social-icon"><use xlink:href="#icon-linkedin-square"></use></svg></span></a>
    <p>&copy; 2015 Mark Harper</p>
  </footer>
</div>

