.navContainer, .nameTitleContainer {
  position: absolute;
}

.navContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.nav {
  width: 40%;
  margin: 13% 12%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: raleway;
  font-size: 1.1em;
}

.nameTitleContainer {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  align-items: flex-start;
  height: 100%;
}

.nameTitle {
  margin: 7% 16%;
}

.name {
  font-family: Vokurn;
  font-weight: bold;
  font-size: 2.5em;
  margin-bottom: 0em;
}

.title {
  font-family: raleway;
  margin-top: 0;
  font-size: 1.1em;
}
