.targetButton {

}

.title {
  text-align: center;
  color: #FFF;
  font-size: 3.2em;
  margin: 0 0 0.3em 0;
  font-weight: normal;
  font-family: 'Montserrat', 'sans-serif';
  letter-spacing: 0.1em;
  display: block;
}

.titleTag {
  border-radius: 2px;
  padding: 1em 1em 0.5em;
  margin: 0 auto;
}

.hireMe {
  width: 45%;
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%,-50%,0);
  padding: 0 0 1em 0;
}

.tagline {
  margin: 1em 1.6em 1em;
  color: #FBFBFB;
  padding: 0.5em 0em 0.5em 0;
  font-size: 1.3em;
  font-family: 'Montserrat', 'sans-serif';
  letter-spacing: 0.1em;
  line-height: 1.4em;
}

.btnInTouch {
  margin: 1em auto;
  background-color: #30CEFF;
  border-radius: 2px;
  font-size: 1.4em;
}
