.skills {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0 0 0 0;
  box-sizing: border-box;
}

#overview {
  background-color: #F9F9F9;
}

#inDepth {
  background-color: #E3F8FF;
}

.skillsChart {
  composes: container from 'sharedStyles/styles.css';
  flex-grow: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 40%;
}

.softSkills {
  composes: container from 'sharedStyles/styles.css';
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  max-width: 40%;
}

.skillsHeader {
  color: #777;
  font-family: 'Ubuntu', sans-serif;;
  font-weight: 500;
  font-size: 2em;
}

.skillsList {
  width: 65%;
}

.skillsItem {
  color: #333;
  font-family: 'Ubuntu' sans-serif;;
  padding: 1em 0;
  font-size: 1.1em;
  line-height: 1.8;
}
