@import 'sharedStyles/constants.css';


.contact {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--lightPrimary);
}

.contact p {
  color: var(--grey);
  font-family: 'Ubuntu', sans-serif;
  padding: 1em 0;
  font-size: 1.1em;
  line-height: 1.8;
  width: 32em;
}

.contact p a {
  color: var(--primary);
  text-decoration: none;
}

.contact p a:hover {
  text-decoration: underline;;
}

.contact form {
  display: block;
  width: 40em;
}

.contact form input, .contact form textarea {
  padding: 10px 0px 10px 0px;
  display: block;
  border: none;
  border-bottom: 1px solid var(--grey);
  width: 100%;
  font-family: 'Ubuntu', sans-serif;
  margin: 30px auto 0;
  font-size: 1em;
  background-color: transparent;
}

.contact form input:focus,
.contact form textarea:focus {
  outline: none;
  font-size: 1em;
}

.contact form input:focus,
.contact form textarea:focus {
  outline: none;
  font-size: 1em;
}

.group {
  position: relative;
  margin-bottom: 45px;
  box-sizing: border-box;
}

.label {
  color: var(--grey);
  font-family: 'Ubuntu', sans-serif;
  font-size: 1em;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.input:focus ~ .label,
.input:valid ~ .label,
.message:focus ~ .label,
.message:valid ~ .label
  {
  top: -0.8em;
  font-size: 0.8em;
  color: var(--primary);
}

.bar {
  position: relative;
  display: block;
  width: 100%;
}

.bar:before {
  content: '';
  height: 1px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: var(--primary);
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.bar:before {
  left: 0%;
}

.input:focus ~ .bar:before,
.input:focus ~ .bar:after,
.message:focus ~ .bar:before,
.message:focus ~ .bar:after {
  width: 100%;
}

.message {
  resize: none;
  max-height: 10.8em;
  line-height: 1.8em;
}

.backContainer {
  align-self: center;
  display: flex;
  width: 40em;
}

.backContainer a:hover, .sendContainer button:hover {
  box-shadow: rgba(0, 0, 0, 0.22) 0 2px 3px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.22) 0 2px 3px 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.22) 0 2px 3px 0;
}

@media (max-width: 45em) {
  .contact form, .backContainer {
    width: 85%;
  }
  .contact p {
    width: 80%;
  }
}
